{# templates/emails/contact.html.twig #}
<h3>Vous avez reçu un email de {{ form.prenom }} {{ form.nom }} :</h3>

<ul>
    <li>email : {{ form.email }}</li>
    <li>message : {{ form.message }}</li>
</ul>